{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the <select> tag.
 * - options: The <option> element children.
 *

 * @see template_preprocess_select()
 */
#}
<div data-controller="select"
     class="relative items-center gap-46 bg-white border-solid border-2 border-duchess-green text-duchess-green text-base leading-7 font-bold rounded-[1.875rem] focus:ring-duchess-green focus:border-duchess-green max-w-[390px] min-w-[311px] cursor-pointer">

    {% for option in options %}
        {% if option.selected %}
            <button data-select-target="selected" data-appointmentCard-target="selected" data-action="select#toggle"
                    class="text-left w-full px-5 py-2 flex items-center justify-between"
                    value="{{ option['#title']|lower|replace({' ': '_'}) }}" data-link="{{ option['#url_title'] }}">{{ option['#title'] }}
                <div class="arrow-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" viewbox="0 0 12 8" fill="none">
                        <path d="M2 2L6 6L10 2" stroke="#00857C" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </div>
            </button>
        {% elseif loop.index == 1 %}
            <button data-select-target="selected" data-appointmentCard-target="selected" data-action="select#toggle"
                    class="text-left w-full px-5 py-2 flex items-center justify-between"
                    value data-link="#">Begin Your Journey
                <div class="arrow-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" viewbox="0 0 12 8" fill="none">
                        <path d="M2 2L6 6L10 2" stroke="#00857C" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </div>
            </button>
        {% endif %}
    {% endfor %}

    <div data-select-target="options" data-action="click@window->select#hide" class="hidden">
        {% for option in options %}
            {% if loop.index == 1 %}
                <button data-action="select#choose appointmentCard#updateLink"
                        class="block text-left w-full hover:bg-duchess-green/10 px-5 py-2 rounded-t-[1.875rem] flex items-center justify-between"
                        value data-link="#">
                    Begin Your Journey
                    <div class="arrow-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" viewbox="0 0 12 8" fill="none">
                            <path d="M2 2L6 6L10 2" stroke="#00857C" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                    </div>
                </button>
            {% endif %}
            <button data-action="select#choose appointmentCard#updateLink"
                    class="block text-left w-full hover:bg-duchess-green/10 px-5 py-2 {% if loop.last %} rounded-b-[1.875rem] {% endif %}"
                    value="{{ option['#title']|lower|replace({' ': '_'}) }}" data-link="{{ option['#url_title'] }}">
                {{ option['#title'] }}
            </button>
        {% endfor %}
    </div>
</div>
